.font-wrapper {
    font-family: Quicksand; 

}
.jumbotron {
    background-image: linear-gradient(
        rgb(42, 53, 85), 
        #4286f4
  );
    border-radius: '0px'
}
.suggestion {
    background-color: #f1f1f1;
    color: gray;
    font-size: 90%;
    padding: 0.25em 0.7em;
    cursor: pointer;
}
.suggestion:hover {
    background-color: lightgray;
}

.search-bar {
    position: absolute;
    left: 0; 
    right: 0; 
    margin: auto;
    width: 30em; 
    
}